


body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(185, 75%, 39%);

}

section {
    display: flex;
    border: 1px solid black;
    text-align: center;
    flex-direction: column;
    border-radius: 10px;
    height: 20em;
}


.top-pattern {
    background-image: url('images/bg-pattern-top.svg');
}

div {
    border: 1px solid black;
}

section .stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.age {
    display: inline-block;
}

.name {
    display: inline-block;
}
