.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body {
    background-color: hsl(185, 75%, 39%);
    font-size: 18px;
    text-align: center;
    font-family: 'Kumbh Sans', sans-serif;
}

.main {
    background-color: white;
    padding-top: 0;
    border-radius: 10px;
}

.name {
    display: inline;
}

.age {
    display: inline;
    color: hsl(0, 0%, 59%);
    font-weight: 400;
}

.location {
    color: hsl(0, 0%, 59%);
    font-weight: 400;
}

p {
    font-weight: 700;
    display: inline-block;
}


.lowerstat {
    color: hsl(0, 0%, 59%);
    font-weight: 400;
}

.display {
    border: 1px white solid;
    border-radius: 50%;
}

.stats {
    border-top: 1px solid hsl(0, 0%, 59%);
}